/web/demo/local_settings.py
*.pyc
*~
/web/demo/static
/web/demo/published/
/web/demo/media/
/web/demo/apache/django.wsgi
/web/demo/apache/httpd.conf
/web/conf.sh
/.dir-locals.el
/web/celeryev.pid
\#*#
/web/demo/.ropeproject
__temp.py
