{% extends "spindle/index.html" %}
{% load sitetree  spindle_extras %}

{% block content %}
  <h2>{{ item.name }}</h2>

  {% sitetree_menu from "opmstree" include "this-siblings" template "spindle/tab_bar.html" %}

  <table class="table table-striped">
    <thead>
      <tr>
        <td>Author</td>
        <td>Date</td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    
    <tbody>      
      {% for version in item.versions.all %}
        <tr>
          <td>{{ version.updated_by }}</td>
          <td>{{ version.updated }}</td>
          <td>
            <a href="{% url spindle_diff_item version.id %}">view changes</a>
          </td>
          <td>
            <form action="{% url spindle_revert_item version.id %}"
                  method="POST">
                  {% csrf_token %}
                  <input type="submit" class="btn btn-danger" value="revert" />
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>      
  </table>

{% endblock %}
