{% extends "spindle/index.html" %}

{% block content %}
  <h2>Add new item</h2>
  <div id="metadata" class="well">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}      
        <label>Name:</label>
        {{ form.name.errors }}   
        {{ form.name }}        
        
        <label>Video URL:</label>
        {{ form.video_url.errors }}        
        {{ form.video_url }}        

        <label>Audio URL:</label>
        {{ form.audio_url.errors }}        
        {{ form.audio_url }}

        <label></label>        
        
        <input class='btn' type='submit' value='Create item' />
      </form>   
  </div>
{% endblock %}

